html,body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: auto 1fr;
}

img{
    width: 1.3rem;
    height:1.3rem;
    border-radius: 50% 50%;
}

.dash img{
    width: 2.5em;
    height:2.5em;
}


.sidebar{
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: #312e81;;
    color:white;
    font-size: 1.5rem;
    padding: 0.3em;
}

.header{
    grid-column: 2/-1;
    grid-row: 1/2;
    background-color: #a5b4fc;
}

.dash, .home, .profile, .messages, .history, 
.tasks, .community, .setting, .support, .privacy{
    display:flex;
    flex-direction:row;
    justify-self: center;
    align-items: center;
    gap:15px;
}

.content{
    /* display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #eee;
    gap:10px; */

    display:flex;
    gap:10px;

    padding: 1.7rem;
    background-color: #c7d2fe;
    position:relative;

}

.cards{
    grid-column: 1/2;
    grid-row: 1/-1;
}

.cards{
    display:grid;
    grid-template-rows: auto auto auto;
    /* grid-template-rows: repeat(3,40ch); */
    grid-template-columns: auto auto;
    gap:20px;
}

.project-card{
    background-color: #e0e7ff;;

    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    display:flex;
    flex-direction: column;
    /* width: 40ch; */
    position:relative;
    color: #1e1b4b;

}

.project-card span {
    font-size: 1.2em;;
    font-weight: bold;
}

.project-card .text{
    padding: 10px;
}

.annoucments{

    display:flex;
    flex-direction:column;
    background-color: #6366f1;
    padding: 1.2rem;
}

.annoucments p {
    font-size: 0.9em;
    width: 35ch;
    color: #1e1b4b
}

.annoucments h4{

    font-size: 0.7rem;

    
}

.annoucments span{
    font-size: 1.4em;
    font-style: bold;
}

.trend{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    background-color: #6366f1;
}


.trend-card > div{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    padding:5px;
    padding-left: 20px;
    
}

.trend-card img{
    width: 2rem;
    height: 2rem;
}

.card-text{

display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.card-text p {
    font-size: 0.7rem;
}

.dash ~ div{
    margin-left: 10px;

    font-size: 0.6rem;


}

.setting{
    margin-top: 8em;
}



.header{
    display:grid;   
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

input{
    border-radius: 25px;
    border:none;
    width: 30rem;
    height: 1rem;
    margin-top: 1.2rem;
    background-color: #eee;
    padding: 13px;
    font-size: 1.2rem;
}

input, .main-header{
    margin-left: 3rem;
}



.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    justify-content: flex-end;
    margin-right: 3em;
    margin-top: 1em;
}

.header-right .profile{
    width: 3em;
  height: 3em;
}

.buttons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 3em;
    align-items: flex-end;
    margin-bottom: 2em;
}

button{
    width: 6.4em;
    height: 2em;
    border-radius: 10px;
    background-color: #312e81;
    color:white;
    border: none;
}

/* .content::before{
    content: "Your projects";
    position: absolute;

    top: 0;
    left: 1.7rem    ;
    width: 7rem;
    height: 7rem;
} */

.icons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 23px;
    margin-right: 10px;

}

.annoucments span{
    font-style:bold;
}

.main-header img{
    width: 3em;
    height:3em;
    border-radius: 50% 50%;

}

.main-header{
    display:flex;
    padding: 1.3rem;
}

.main-header-text{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;

}

.main-header .user-name{
    font-size: 1.5rem;
    font-weight: bold;
}